<%= form_with(model: @todo_list , local: true) do |form| %>
    <p>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
    </p>

    <p>
        <%= form.label :description %><br>
        <%= form.text_area :description %>
    </p>

    <p>
        <%= form.submit %>
    </p>
<% end %>
<%= link_to 'Back', todo_lists_path %>

